<%= stylesheet_link_tag "home" %>
<div class="ui one column center aligned grid">
	<div class="column six wide form-holder">
		<h3 class="center aligned header form-head">Resend confirmation instructions</h3>
		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
		<%= devise_error_messages! %>
		<div class="ui form">
			<div class="field">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
			</div>

			<div class="actions">
			<%= f.submit "Resend confirmation instructions", class: 'ui small blue button' %>
			</div>
			<% end %>
			<hr>
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>