<div class="ui tabular menu">
  <a class="item active" data-tab="tab-name">Overview</a>
  <a class="item" data-tab="tab-name2">Verified Information</a>
  <a class="item" data-tab="tab-name3">Contact Info</a>
  <a class="item" data-tab="tab-name4">Connection</a>
  <a class="item" data-tab="tab-name5">Feedback</a>
</div>
<div class="ui tab active" data-tab="tab-name">
 <div class="ui fluid raised card">
  <div class="content header">
    <div class="ui header">
      <center>Overview</center>
    </div>
  </div>
  <div class="content">
   <div class="ui grid">
    <div class="four wide column" style="padding-top: 24px;padding-left: 24px;padding-right: 0px;padding-bottom: 24px;">
     <div class="card" >
      <img class="ui medium circular image" src="<%= avatar(@guest.filepicker_url)%>">
    </div>
    <center>
      <br>

      <% if @is_followed == true %>

      <%= link_to "Followed", "", class: "ui disabled button" %>
      <% else %>

      <%= link_to "Follow", follows_path(followed_id: @guest.id), method: 'post', class: "ui blue button" %>
      <% end %>

    </center>
  </div>

  <div class="three wide column" style="padding-left: 0px;padding-right: 0px;">
    <ul>
      <h3>Full Name: </h3>
      <h4>Email: </h4>
      <h4>Location: </h4>
      <h4>Business: </h4>
      <h4>Started since</h4>
      <hr>
    </ul>
  </div>
  <div class="six wide column" style="padding-left: 0px;">
    <ul style="padding-left: 0px;">
      <h3><%= @guest.user_name %></h3>
      <h4><%= @guest.email %></h4>
      <h4><%= @guest.address %></h4>
      <h4><%= @guest.business %>&nbsp;</h4>
      <h4><%= @guest.created_at.to_date %></h4>
      <hr>
      <strong>This user is: <font color="<%= @verify_color %>"><%= @is_verified %></font> </strong><br>
      <strong>This account status is: <font color="<%= @account_color %>"><%= @account_status.status  %></font></strong><br>
      <strong>This user received <font color="blue"> (<%= @feedbacks.count %>) </font> feeback </strong><br>
      <strong>This user received <font color="blue"> (<%= @positive_feedbacks.count %>) positive </font> feeback </strong><br>
      <strong>This user received <font color="red"> (<%= @negative_feedbacks.count %>) negative </font>  feeback </strong>
    </ul>
  </div>
  <div class="three wide column" style="padding-left: 0px;">
    <ul>
      <h3><i class="call icon"></i><%= @guest.phone_number %></h3>
      <h4>Social Network: </h4>
      <% if @guest.facebook_link != nil %>
      <a class="floated" target="_blank" href="<%= show_value(@guest.facebook_link) %>">
        <i class="facebook large blue square icon"></i> &nbsp;
      </a>
      <% end %><br>
      <h4>Description:</h4><%= @guest.description %>

    </ul>
  </div>
</div>
</div>
</div>
</div>


<div class="ui tab" data-tab="tab-name2">
  <div class="ui fluid raised card">
    <div class="content header">
      <div class="ui header">
        <center>Verified Information</center>
      </div>
    </div>
    <div class="content">
     <div class="ui grid">
      <div class="four wide column" style="padding-left: 24px;padding-right: 0px;">
       <div class="ui card">
         <img class="ui medium image" src="<%= avatar(@guest.filepicker_url)%>">
       </div>
       <center><%= @guest.user_name %></center>
     </div>

     <div class="six wide column" >      
      <div class="grid">             
       <h5>Full Name: &nbsp;&nbsp;</h5><%= @guest.user_name %>
       <h5>Email:&nbsp;&nbsp; </h5><%= @guest.email %>
       <h5>Address:&nbsp;&nbsp;</h5><%= @guest.address %>
       <h5>Business:&nbsp;&nbsp; </h5><%= @guest.business %>
       <h5>Facebook:&nbsp;&nbsp; </h5><a target="_blank" href="<%= @guest.facebook_link %>"><%= @guest.facebook_link %></a>
       <h5>Zalo: &nbsp;&nbsp;</h5><%= @guest.zalo %>
       
     </div>
   </div>
   <div class="six wide column" >      
    <div class="grid">             
     <h5>Phone Number:</h5><%= @guest.phone_number %>
     <h5>Identity Number:&nbsp;&nbsp;</h5><%= @guest.identity_number %>
     <h5>Gender: &nbsp;&nbsp;</h5><%= @guest.sex %>
     
     <h5>Hometown: &nbsp;&nbsp;</h5><%= @guest.hometown %>
     <h5>Career: &nbsp;&nbsp;</h5><%= @guest.career %>
     <h5>Work Place: &nbsp;&nbsp;</h5><%= @guest.work_place %>          
   </div>
 </div>
</div>

</div>
</div>
</div>


<div class="ui tab" data-tab="tab-name3">
  <div class="ui fluid raised card">

    <div class="content header">
      <div class="ui header">
        <center>Contact Information</center>
      </div>
    </div>

    <div class="content">
     <div class="ui grid">

       <div class="eight wide column" >      
        <div class="grid">             
          <h5>Phone Number:</h5><%= @guest.phone_number %>
          <h5>Email:&nbsp;&nbsp; </h5><%= @guest.email %>
          <h5>Zalo: &nbsp;&nbsp;</h5><%= @guest.zalo %>
          <h5>Facebook:&nbsp;&nbsp; </h5><a target="_blank" href="<%= @guest.facebook_link %>"><%= @guest.facebook_link %></a>
          <h5>Address:&nbsp;&nbsp;</h5><%= @guest.address %>
        </div>
      </div>

      <div class="eight wide column" >  
        <div class="grid">   
          <% if @bank_accounts.count > 0 %>
          <div class="ui card">
            <div class="ui hearder">
              <center><b>Bank account</b></center>
            </div>
            <div class = "ui content">  
              <%= render @bank_accounts %>
            </div>
          </div>
          <% else %>
          <i>- No information.</i>
          <% end %>                
        </div>
      </div>

    </div>
  </div>

</div>
</div>

<div class="ui tab" data-tab="tab-name4">
  
  <div class="ui fluid raised card">

    <div class="content header">
      <div class="ui header">
        <center>Follower</center>
      </div>
    </div>

    <div class="content">
     <div class="ui grid">

       <div class="eight wide column" >      
        <div class="grid">             
          <h3> <%= @guest.user_name %> is followed by <%= @follows.count  %> people </h3>
          </div>
      </div>

      <div class="eight wide column" >  
        <div class="grid">   
          <div class="ui list">
          <% @follows.each do |follow| %>
          <div class="item">
            <img class="ui avatar image" src="<%= avatar(follow.follower.filepicker_url)  %>">
            <div class="content">
            <div class="header">
            <a href="<%= profile_path(id: follow.follower.id)  %>"><%= follow.follower.user_name %></a>
            </div>
              <div class="description">has followed <%= @guest.user_name  %> since <%= follow.created_at.to_date %></div>
            </div>
          </div>
          <% end %>
        </div>        
        </div>
      </div>

    </div>
  </div>

</div>

</div>

<div class="ui tab" data-tab="tab-name5">
  <div class="ui fluid raised card">

    <div class="content header">
      <div class="ui header">
        <center><%= @guest.user_name %>'s received feedback</center>
      </div>
    </div>

    <div class="content">
     <div class="ui grid">

       <div class="five wide column" >  
        <div class="grid">   
          <div class="content header">
            <div class="ui header"><i class="feed icon"></i>Positive Feedback(<%= @positive_feedbacks.count %>)</div>
          </div>
          <div class="content">
           <div class="ui comments">
             <% if @positive_feedbacks.count > 0 %>
             <%= render @positive_feedbacks %> 
             <% else %>
             <i>- This user have no positive feedback. </i>
             <% end %>
           </div>
         </div>               
       </div>
     </div>

     <div class="five wide column" >  
      <div class="grid">   
        <div class="content header">
          <div class="ui header">
          <i class="feed icon"></i>Negative Feedback (<%= @negative_feedbacks.count %>)</div>
        </div>
        <div class="content">
         <div class="ui comments">
           <% if @negative_feedbacks.count > 0 %>
           <%= render @negative_feedbacks %> 
           <% else %>
           <i>- This user have no negative feedback. </i>
           <% end %>
         </div>
       </div>               
     </div>
   </div>

   <div class="five wide column" >  
    <div class="grid">   
      <div class="content header">
        <a class="ui inverted blue button sendfeedback"><b>Send feedback</b></a>
        <% if current_user %>
        <a class="ui inverted blue button report" href="<%= new_user_request_path(current_user.id, :guest_id=>@guest.id) %>"><b>Report user</b></a>
        <% end %>
      <div class="content">
       <div class="ui comments">
       </div>
     </div>               
   </div>
 </div>

</div>
</div>

</div>
</div>

<div class="ui small modal sendfeedback" id="modalsendfeedback">
  <i class="close icon"></i>
  <% if current_user != nil %>
  <div class="header">
   Send Feedback
 </div>
 
 <div class="content">
      <%= form_for Feedback.new, url: user_feedbacks_path(:user_id => @guest.id) do |f| %>
    <%= f.hidden_field :guest_id, :value => current_user.id %>
    <%= f.hidden_field :rating, :value => '2', id: 'rating value' %>
      <div class="ui form">
        Your rate: <div class="ui heart rating" data-rating="2" data-max-rating="3"></div>
          <center>
            <%= f.text_area :content, size: "50x10",class:"form-control" %>
            <%= f.submit "Send", class:"ui green button" %>
          </center>
      </div>
    <% end %>   
</div>
<% else %>
  <div class="header">
   You have to login to send feedback
 </div>
 <% end %>  
</div>