

<div class="ui tabular menu">
  <a class="item active" style="color: #000000;" data-tab="tab-name">Overview</a>
  <a class="item" style="color: #000000;" data-tab="tab-name2">Verified Information</a>
  <a class="item" style="color: #000000;" data-tab="tab-name3">Network</a>
  <a class="item" style="color: #000000;" data-tab="tab-name4">Connection</a>
  <a class="item" style="color: #000000;" data-tab="tab-name5">Feedback</a>
</div>
<div class="ui tab active" data-tab="tab-name"> 
  <div class="movie-card">  
    <div class="container1">    
    <div class="cover">
      <img class="ui small circular image" src="<%= avatar(@guest.filepicker_url)%>">
    </div>
     <div class="hero">            
      <div class="details">      
        <h1 class="title1"><%= @guest.user_name %></h1>             

        <span class="likes" style="color: springgreen"><b><<%= @follows.count  %> Follow</b>></span>
        
      </div> <!-- end details -->
      <div class="social1" %>
        <div class="ui grid">
          <div class="five column row">
            <div class="column">
              <a href="/">
                <i class="circular inverted blue large facebook f icon"></i> 
              </a>           
            </div>
            <div class="column">
              <a href ="/">
                <i class="circular inverted orange large amazon icon"></i>
              </a>            
            </div>
            <div class="column">
             <a href ="/">
              <i class="circular inverted black large linkedin icon"></i>
            </a> 
          </div>
        </div>
      </div>
      
    </div>
  </div> <!-- end hero -->

  <div class="description">      
    <div class="column1">
     <% if @guest.is_verified %>
     <span class="tag" style="color:green">Verfied</span>
     <% else %>
     <span class="tag" style="color:red">Unverfied</span>
     <% end %>
     <span class="tag">
      <font color="<%= @account_color %>"><%= @account_status.status  %></font></strong>
    </span>
    <center style="padding-top:10px;">
      <% if @is_followed == true %>
      <%= link_to "Followed", "", class: "ui disabled button" %>
      <% else %>
      <%= link_to "Follow", follows_path(followed_id: @guest.id), method: 'post', class: "ui blue button" %>
      <% end %>
    </center>
    

  </div> <!-- end column1 -->
  <div class="ui grid" style="padding-top: 50px; padding-left: 90px;">
    <div class="column2 two column row">
      <div class="column">
        <p><i class="mail icon"></i><%= @guest.email %><p>
          <p><i class="call icon"></i><%= show_value(@guest.phone_number) %></p>
          <p><i class="marker icon"></i><%= show_value(@guest.address) %></p>
          <p><i class="birthday icon"></i><%= show_value(@guest.date_of_birth) %></p>
        </div>
        <div class="column">
          <div class="ui icon"  data-tooltip="Business" data-position="top left">
            <p><i class="travel icon"></i><%= show_value(@guest.business) %></p>
          </div>
          <p></p> 
          <div class="ui icon"  data-tooltip="work place" data-position="top left">
            <p><i class="building icon"></i></i></i><%= show_value(@guest.identity_number) %></p>
          </div>
          <p></p>         
          <div class="ui icon"  data-tooltip="identity number" data-position="top left">
            <p><i class="credit card alternative icon"></i></i><%= show_value(@guest.identity_number) %></p>
          </div>
          <p></p>

        </div>
            
      </div> 
  </div>
    <hr>
          <h5 style="padding-left: 20px;color: blue;">Go to tab "Network" to see more he/she share </h5>  
</div> 


</div> 
</div>
</div>



<div class="ui tab" data-tab="tab-name2">
  <div class="ui fluid raised card">
    <div class="content header">
      <div class="ui header">
        <center class="tab">Verified Information</center>
      </div>
    </div>
    <div class="content">
     <div class="ui grid">
      <div class="four wide column" style="padding-left: 24px;padding-right: 0px;">
       <div class="ui card">
         <img class="ui medium image" src="<%= avatar(@guest.filepicker_url)%>">
       </div>
       <center><%= @guest.user_name %></center>
     </div>
     <div class="one wide column">        
     </div>
     <div class="five wide column" >      
      <div class="grid">             
       <p><b>Full Name: &nbsp;&nbsp;</b><%= @guest.user_name %></p>
       <p><b>Email:&nbsp;&nbsp; </b><%= @guest.email %></p>
       <p><b>Address:&nbsp;&nbsp;</b><%= @guest.address %></p>
       <p><b>Business:&nbsp;&nbsp; </b><%= @guest.business %></p>
       <p><b>Facebook:&nbsp;&nbsp; </b><a target="_blank" href="<%= @guest.facebook_link %>"><%= @guest.facebook_link %></a></p>
       <p><b>linkedin: &nbsp;&nbsp;</b><%= @guest.zalo %></p>
       
     </div>
   </div>
   <div class="five wide column" >      
    <div class="grid">             
     <p><b>Phone Number:  </b><%= @guest.phone_number %></p>
     <p><b>Identity Number:&nbsp;&nbsp;</b><%= @guest.identity_number %></p>
     <p><b>Gender: &nbsp;&nbsp;</b><%= @guest.sex %></p>
     
     <p><b>Hometown: &nbsp;&nbsp;</b><%= @guest.hometown %></p>
     <p><b>Career: &nbsp;&nbsp;</b><%= @guest.career %></p>
     <p><b>Work Place: &nbsp;&nbsp;</b><%= @guest.work_place %></p>          
   </div>
 </div>
</div>      

</div>

</div>
</div>



<div class="ui tab" data-tab="tab-name3">  
 <div class="ui grid">
  <div class="three column row">
    <% @connects.each do |connect| %>
    <div class="column">
      <% case connect.type_web %>
      <% when "1" %>
      <div class="ui card" style="margin-top:10px; margin-bottom:10px;border-style: solid; border-color: blue ">
        <% when "2" %>
        <div class="ui card" style="margin-top:10px; margin-bottom:10px;border-style: solid; border-color: orange ">
          <% when "3" %>
          <div class="ui card" style="margin-top:10px; margin-bottom:10px;border-style: solid; border-color: teal ">
            <% else %>
            <div class="ui card" style="margin-top:10px; margin-bottom:10px;border-style: solid; border-color: springgreen">
              <% end %>
               <div class="content">
                <%= connect.title %>              
                <% if !connect.image_url.empty? %>
                  <a href="<%= connect.image_url %>"><img class="ui medium image" src="<%= avatar(connect.image_url)%>"></a>
                <% end %>
               <%if !connect.link.empty? %>
                   <a href="https://<%= connect.link %>">
                <button class="ui blue mini button">
                  Go to link
                </button>
                </a>   
               <% end %>               
               
              
              </div>
              <div class="extra content">
                <div class="right floated">
                  <i class="<%= type_icon(connect.type_web) %>"></i>
                </div>
              </div>
            </div>
          </div>

          <% end %>
        </div>    
      </div>
    </div>


    <div class="ui tab" data-tab="tab-name4">

      <div class="ui fluid raised card">

        <div class="content header">
          <div class="ui header">
            <center>Follower</center>
          </div>
        </div>

        <div class="content">
         <div class="ui grid">

           <div class="eight wide column" >      
            <div class="grid">             
              <h3> <%= @guest.user_name %> is followed by <%= @follows.count  %> people </h3>
            </div>
          </div>

          <div class="eight wide column" >  
            <div class="grid">   
              <div class="ui list">
                <% @follows.each do |follow| %>
                <div class="item">
                  <img class="ui avatar image" src="<%= avatar(follow.follower.filepicker_url)  %>">
                  <div class="content">
                    <div class="header">
                      <a href="<%= profile_path(id: follow.follower.id)  %>"><%= follow.follower.user_name %></a>
                    </div>
                    <div class="description">has followed <%= @guest.user_name  %> since <%= follow.created_at.to_date %></div>
                  </div>
                </div>
                <% end %>
              </div>        
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="ui tab" data-tab="tab-name5">
    <div class="ui fluid raised card">

      <div class="content header">
        <div class="ui header">
          <center><%= @guest.user_name %>'s received feedback</center>
        </div>
      </div>

      <div class="content">
       <div class="ui grid">

         <div class="five wide column" >  
          <div class="grid">   
            <div class="content header">
              <div class="ui header"><i class="feed icon"></i>Positive Feedback(<%= @positive_feedbacks.count %>)</div>
            </div>
            <div class="content">
             <div class="ui comments">
               <% if @positive_feedbacks.count > 0 %>
               <%= render @positive_feedbacks %> 
               <% else %>
               <i>- This user have no positive feedback. </i>
               <% end %>
             </div>
           </div>               
         </div>
       </div>

       <div class="five wide column" >  
        <div class="grid">   
          <div class="content header">
            <div class="ui header">
              <i class="feed icon"></i>Negative Feedback (<%= @negative_feedbacks.count %>)</div>
            </div>
            <div class="content">
             <div class="ui comments">
               <% if @negative_feedbacks.count > 0 %>
               <%= render @negative_feedbacks %> 
               <% else %>
               <i>- This user have no negative feedback. </i>
               <% end %>
             </div>
           </div>               
         </div>
       </div>

       <div class="five wide column" >  
        <div class="grid">   
          <div class="content header">
            <a class="ui inverted blue button sendfeedback"><b>Send feedback</b></a>
            <% if current_user %>
            <a class="ui inverted blue button report" href="<%= new_user_request_path(current_user.id, :guest_id=>@guest.id) %>"><b>Report user</b></a>
            <% end %>
            <div class="content">
             <div class="ui comments">
             </div>
           </div>               
         </div>
       </div>

     </div>
   </div>

 </div>
</div>

<div class="ui small modal sendfeedback" id="modalsendfeedback">
  <i class="close icon"></i>
  <% if current_user != nil %>
  <div class="header">
   Send Feedback
 </div>
 
 <div class="content">
  <%= form_for Feedback.new, url: user_feedbacks_path(:user_id => @guest.id) do |f| %>
  <%= f.hidden_field :guest_id, :value => current_user.id %>
  <%= f.hidden_field :rating, :value => '2', id: 'rating value' %>
  <div class="ui form">
    Your rate: <div class="ui heart rating" data-rating="2" data-max-rating="3"></div>
    <center>
      <%= f.text_area :content, size: "50x10",class:"form-control" %>
      <%= f.submit "Send", class:"ui green button" %>
    </center>
  </div>
  <% end %>   
</div>
<% else %>
<div class="header">
 You have to login to send feedback
</div>
<% end %>  
</div>