
<div class="ui grid notification">
	<div class="sixteen wide column">
		<div class="ui fluid card">
			<div class="content header">


				<div class="ui header">Welcome, <%= current_user.user_name %> ! 
					<a class="right floated meta">
						<i class="icon remove"></i>
					</a>
				</div>
			</div>
			<div class="content notification">
				<div class="content">
					<big>Your verify status: <font color="red"><%= @is_verified  %></font></big><br>
					<big>Your account status: <font color="green"> <%= @account_status.status %> </font></big>
					<li>sdfsdfsdf</li>
					<li>sdfsdfsdf</li>
				</div>
				<div class="extra content">
					<span class="right floated">
						<i class="arrow circle outline right icon"> </i>
						<%= link_to "go to your settings", user_path(id: current_user.id), class:'ui' %>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui grid">
	<div class="five wide column">
		<div class="ui fluid card">
			<div class="content">
				<div class="ui header">Messages</div>
			</div>
		</div>
	</div>

	<div class="six wide column">
		<div class="ui fluid card">
			<div class="content header">
				<div class="ui header">Your friends activities</div>
			</div>
			<div class="content">
			</div>

		</div>
	</div>

	<div class="five wide column">
		<div class="ui fluid card">
			<div class="content header">
				<div class="ui header">Feedback</div>
			</div>
			<div class="content">
				<div class="ui comments">
					<% @feedbacks.each do |feed| %>
					<div class="comment">

						<a class="avatar">
							<img src="<%= avatar(feed.guest.filepicker_url) %>">
						</a>

						<div class="content">
							<a class="author"><%= feed.guest.user_name %></a>
							<div class="metadata">
								<span class="date"><%= feed.created_at %></span> 
							</div>
							<div class="text">
								<%= feed.content %>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

