
<div class="ui grid notification">
	<div class="sixteen wide column">
		<div class="ui fluid raised card">
			<div class="content header">

				<div class="ui header">Welcome, <%= current_user.user_name %> ! 
					<a class="right floated meta">
						<i class="icon remove"></i>
					</a>
				</div>
			</div>
			<div class="content notification">
				<div class="content">
					<big>Your verify status: <font color="<%= @verify_color %>"><%= @is_verified  %></font></big><br>
					<big>Your account status: <font color="<%= @account_color %>"> <%= @account_status.status  %></font></big><br>
					<% if @user.is_verified == false %>
					<font color="orange"> For others to get to know and building trust in you, please fill in your information and verify it.</font>
					<% end %>
				</div>
				<div class="extra content">
					<a class="right floated" href="<%= user_path(id: current_user.id) %>">
						<i class="arrow circle outline right icon"> </i>
						Go to your settings
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui grid">
	<div class="five wide column">
		<div class="ui raised card">
			<div class="content">
				<div class="ui header">Your followed list</div>
				<%= render @follows  %>
			</div>
		</div>
	</div>

	<div class="six wide column">
		<div class="ui fluid raised card">
			<div class="content header">
				<div class="ui header">Your friends activities</div>
			</div>
			<div class="content">
			</div>

		</div>
	</div>

	<div class="five wide column">
		<div class="ui fluid raised card">
			<div class="content header">
				<div class="ui header">Feedback - (<%= @feedbacks.count %>)</div>
			</div>
			<div class="content">
				<div class="ui comments">
					<% if @feedbacks.count > 0 %>
					<%= render @feedbacks %>
					<% else %>
					You dont have feedback
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="ui modal instructions">  
  	<i class="close icon"></i>
  <div class="header">
    Please complete your information!
  </div>   
    <div class="description">    	
      <div class="ui content">Hello<b> <%= current_user.user_name %>! </b>
      Let's improve your profile with some info to show who you are !</p>
    </div>
  </div>
  	
    
  <div class="actions">
    <div class="ui black deny button">
      No! another time
    </div>

  </div>  
</div>