<h1>There are <%= @visits.count %> results </h1>
<div class="container p1">

    <% if @visits.blank? %>
    <h4>There are no user " <%= params[:search] %>".</h4>    
    <% else %>
     <div class="ui four special cards">
    <% @visits.each do |v| %>    
   
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui inverted dimmer">
            <div class="content">
              <div class="center">
                <!-- <div class="ui primary button" se>See Details</div> -->
                <%= link_to 'See Details', profile_path(id: v.id), class: 'ui primary button'  %>
              </div>
            </div>
          </div>
          <img src="<%= avatar(v.filepicker_url)  %>">
        </div>
        <div class="content">
        <a class="header"><%= v.user_name %></a>
          <div class="meta">
            <%= v.business %>
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="users icon"></i>
            <%= v.follows.count  %> follower
          </a>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
</div>
