<%= filepicker_js_include_tag %>
<div class="ui grid cards">

  <div class="ten wide column">
    <div class="ui fluid card">
      <div class="content header">
        <div class="ui header">
          <p><b>Profile</b></p>
          <center> <i class="user icon"></i><%= @guest.user_name %> </center>
        </div>
      </div>

      <div class="ui grid">

        <div class="five wide column" style="padding-top: 24px; padding-left: 24px;">
          <div class="card">
            <div class="image" >
              <img src="<%= avatar(@guest.filepicker_url)%>" style="width:170px;height:150px;">
            </div>
            <div class="extra">

            </div>
          </div>
        </div>

        <div class="eleven wide column">
          <ul>
            <li><b>Full name:</b> <%= @guest.user_name %>
              <i class="<%= User.is_verified(@guest.identity_number) %>"> </i></li>
              <li><b>Email:</b> <%= @guest.email %>
                <i class="<%= User.is_verified(@guest.is_verified) %>"> </i></li>
              </ul>
            </div>
          </div>

          <div class="extra content">
            <a class="right floated edit user">
              <button class="ui linkedin button">
                <i class="users icon"></i>
                Follow
                </button>             
              </a>

              <div class="right floated">
                  <%= link_to "Feedback", new_user_feedback_path(@guest.id), class:"ui green button" %>
                </div>
              <span>
                <i>Started since  <%= @guest.created_at.month %>/<%= @guest.created_at.year  %></i>
              </span>
              
            </div>

          </div>

          <div class="ui fluid card">
            <div class="container p3">
              <br>
              <h4 class="ui sub header">
                <i class="university icon"></i>
                Bank account 
              </h4>
              <div class="content">
                XXXXXXXX
              </div>            
              <h4 class="ui sub header">
                <i class="university icon"></i>
                Bank account 
              </h4>
              <div class="content">
                XXXXXXXX
              </div>
              <br>
            </div>           
        </div>
      </div>

      <div class="five wide column p2">
        <div class="ui fluid card">
          <ul><h4>Your verify status: <font color="red"><%= @is_verified  %></font></h4></ul>
          <ul><h4>Your account status: <font color="green"> <%= @account_status.status  %> </font>
          </ul>
          <ul><h4>Positive Feedback: </h4></ul>
          <ul><h4>Negative Feedback: </h4></ul>

        </div>
        <div class="ui fluid card-3">
          <div class="content p3">
            <div class="row">
              <div class="ui header">Feedback</div>              
            </div>
          </div>
        </div>
      </div>  
    </div>


    <!--  Modal Javascript -->

