<%= filepicker_js_include_tag %>

<div class="ui grid cards">

	<div class="ten wide column">
		<div class="ui fluid raised card">
			<div class="content header">
				<div class="ui header">
					<center> <i class="user icon"></i><%= @user.user_name %><i class="<%= is_verify(@user[:is_verified]) %>"> </i></li></center>
				</div>
			</div>
      <div class="content">
       <div class="ui grid">
        <div class="five wide column" style="padding-top: 24px;padding-left: 24px;padding-right: 0px;">
         <div class="ui card" >
          <div class="medium image">
           <img src="<%= avatar(@user.filepicker_url)%>" >
         </div>
         <div class="extra content">
           <%= form_for @user, :id => 'my-form' do |f| %>
           <div><center>
            <%= f.filepicker_field :filepicker_url , class: 'mini button ui' %>
          </center>

        </div>
        <%= f.submit "update image", type:'submit', id:'submitImage', style: "display: none;" %> 
        <% end %>
      </div>
    </div>
  </div>

  <div class="eleven wide column" style="padding-left: 0px;">
    <ul>
      <i class="mail outline big icon"></i> &nbsp;&nbsp;&nbsp;&nbsp;
      <b><%= @user.email %></b>
      <i class="checkmark icon verified"> </i><br>

      <i class="call big icon"></i> &nbsp;&nbsp;&nbsp;&nbsp;
      <b><%= show_value(@user.phone_number) %> </b> &nbsp;&nbsp;
      <br>

      <i class="other gender big icon"></i>  
      &nbsp;&nbsp;&nbsp;&nbsp;
      <b><%= show_value(@user.sex) %> </b>
      <br>
      
      <i class="birthday big icon"></i>  
      &nbsp;&nbsp;&nbsp;&nbsp;<b>
      <%= show_value(@user.date_of_birth) %></b>
      <br><br>
      
      <b>Indentity No. :</b>
      &nbsp;&nbsp;&nbsp;&nbsp;<%= show_value(@user.identity_number) %>
      <br>
      
      <b>Hometown:</b>  
      &nbsp;&nbsp;&nbsp;&nbsp;<%= show_value(@user.hometown) %>
      <br>

      <b>Description:</b>
      <br>
      <a class="floated editdescription">
      <i class="edit bank small icon"></i>
      </a>
      <%= show_value(@user.description) %>
      <br>

    </ul>
  </div>
</div>
</div>

<div class="extra content">
 <a class="right floated edituser">
  <i class="edit icon"></i>
  Edit your profile
</a>
<span>
  <i>Started since  <%= @user.created_at.month %>/<%= @user.created_at.year  %></i>
</span>
</div>

</div>

<div class="ui fluid raised card">
  <div class="content header">
    <div class="ui header">
      <center> <i class="home icon"></i> Contact Information
      </center>
    </div>
  </div>
  <div class="content">
    <div class="container p3">
      <i class="call big icon"></i> &nbsp;&nbsp;&nbsp;&nbsp;
      <b><%= show_value(@user.phone_number) %> </b>
      &nbsp;&nbsp;    
      <br>
      
      <i class="tag icon"></i>
      <b>Address:</b>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= show_value(@user.address) %>
      <br>
      
      <i class="tag icon"></i><b>Zalo:</b>
      &nbsp;&nbsp;&nbsp;&nbsp;<%= show_value(@user.zalo) %>
      <br>

      <i class="tag icon"></i><b>Career:</b>
      &nbsp;&nbsp;&nbsp;&nbsp;<%= show_value(@user.career) %>
      <br>

      <i class="tag icon"></i><b>Work place:</b>  
      &nbsp;&nbsp;&nbsp;&nbsp;<%= show_value(@user.work_place) %>
      <br>

      <i class="tag icon"></i><b>Facebook:</b>  
      &nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="<%= show_value(@user.facebook_link) %>"><%= show_value(@user.facebook_link) %></a>
      <br>
    </div>

  </div>

  <div class="extra content">
   <a class="right floated editinfo" data-toggle="ui modal" data-target="#modaleditbank">
    <i class="edit bank icon"></i>
    Edit
  </a>
</div>
</div>

<div class="ui fluid raised card">
  <div class="content header">
    <div class="ui header">
      <center> <i class="credit card alternative icon"></i> Bank Account </center>
    </div>
  </div>
  <div class="content">
    <div class="container p3" id='bankaccount'>
    <% if @bank_accounts.count > 0 %>
     <%= render @bank_accounts %>
     <% else %>
      <i>- You have not added any bank account.</i>
     <% end %>
   </div>
 </div>

 <div class="extra content">
   <a class="right floated editbank" data-toggle="ui modal" data-target="#modaleditbank">
    <i class="edit bank icon"></i>
    Add
  </a>
</div>
</div>
</div>

<div class="five wide column p2">
 <div class="ui fluid raised card">
   <div class="content header">
     <div class="ui header"><i class="protect icon"></i>Account Status</div>
   </div>
   <div class="content">
    <ul><h4>Your verify status: <font color="<%= @verify_color %>"><%= @is_verified  %></font></h4></ul>
    <ul><h4>Your account status: <font color="<%= @account_color %>"> <%= @account_status.status  %></h4> </font>
    </ul>
    <ul><h4><font color="blue">Positive Feedback: (<%= @positive_feedbacks.count  %>) </font></h4></ul>
    <ul><h4><font color="grey">Negative Feedback: (<%= @negative_feedbacks.count  %>) </font></h4></ul>
  </div>
</div>
<div class="ui fluid raised card">
 <div class="content header">
   <div class="ui header"><i class="feed icon"></i>Feedback (<%= @feedbacks.count %>) </div>
 </div>
 <div class="content">
   <div class="ui comments">
   <% if @feedbacks.count > 0 %>
    <%= render @feedbacks %> 
    <% else %>
    <i>- You have not received any feedback. </i>
    <% end %>
  </div>
</div>
</div>	
</div>
</div>


<!--  Modal Javascript -->

<div class="ui modal edituser" id="modaledituser"> 
  <i class="close icon"></i>
  <div class="header">
   Edit User
 </div>
 <div class="content">
  <center>
    <%= form_for @user do |f| %>
    <div class="ui form">
      <div class="field">
        <%= f.text_field :user_name, autofocus: true, placeholder: 'Name', class: 'user_name', required: true %>
      </div><br>
      <div class="field">
        <%= f.text_field :identity_number, autofocus: true, placeholder: 'Identity Number', class: 'identity_number', required: true %>
      </div><br>
      <div class="field">
        <%= f.text_field :hometown, autofocus: true, placeholder: 'Home Town', class: 'hometown', required: true %>
      </div><br>
      <div class="field">
        <%= f.select :sex, %w{ Male Female }, :include_blank => false, required: true %>
      </div><br>
      <div class="field">
        <%= f.text_field :date_of_birth, autofocus: true, placeholder: 'Date Of Birth', class: 'date_of_birth', required: true %>
      </div><br>

    </div>
  </center>
  <div>
    <%= f.filepicker_field :certificate_image, :value=> nil, required: true %>
    <i><a class="note">Upload Your Certificate Image</a>
  </div>
  <center><%= f.submit "update user", type:'submit', id:'submitUser', class: 'ui button submituser' %>
  </center>
  <% end %>
  <div class="meta">All fields is required. You have to upload a certificate image.</div>
</div>
</div>

<div class="ui small modal editbank" id="modaleditbank">
  <i class="close icon"></i>
  <div class="header">
   Add new bank
 </div>
 <div class="content">
   <center>
    <%= form_for(@bank_account, remote: true) do |b| %>
    <div class="ui form">
      <div class="field">
        <%= b.text_field :bank_name, autofocus: true, placeholder: 'Bank name', class: 'bank_name' %>
      </div>

      <div class="field">
        <%= b.text_field :name, autofocus: true, placeholder: 'Name holder', class: 'name' %>
      </div>

      <div class="field">
        <%= b.text_field :account_number, placeholder: 'Account number', class: 'account_number'  %>
      </div>
      <%= b.submit "Submit", class: 'ui button submitbank' %>
      <% end %>
    </div>

  </center>
</div>
</div>

<div class="ui modal editinfo" id="modaleditinfor"> 
  <i class="close icon"></i>
  <div class="header">
   Edit Contact Information
 </div>
 <div class="content">
  <center>
    <%= form_for @user do |f| %>
    <div class="ui form">
      <div class="field">
        <%= f.text_field :phone_number, autofocus: true, placeholder: 'Phone Number', class: 'phone_number' %>
      </div><br>
      <div class="field">
        <%= f.text_field :address, autofocus: true, placeholder: 'Address', class: 'address' %>
      </div><br>
      <div class="field">
        <%= f.text_field :zalo, autofocus: true, placeholder: 'Zalo', class: 'zalo' %>
      </div><br>
      <div class="field">
        <%= f.text_field :business, autofocus: true, placeholder: 'describe your business eg: shoes seller ', class: 'business' %>
      </div><br>
      <div class="field">
        <%= f.text_field :career, autofocus: true, placeholder: 'What is your job?', class: 'career' %>
      </div><br>
      <div class="field">
        <%= f.text_field :work_place, autofocus: true, placeholder: 'Where are you working?', class: 'work_place' %>
      </div><br>
      <div class="field">
        <%= f.text_field :facebook_link, autofocus: true, placeholder: 'Your facebook link', class: ':facebook_link' %>
      </div><br>
    </div>
  </center>
  <center><%= f.submit "update info", type:'submit', id:'submitInfo', class: 'ui button submitInfo' %></center>
  <% end %>
  
</div>
</div>

<div class="ui small modal editdescription" id="modaleditdescription">
  <i class="close icon"></i>
  <div class="header">
   Description
 </div>
 <div class="content">
   <center>
    <%= form_for @user do |f| %>
    <div class="ui form">
      <div class="field">
        <%= f.text_area :description, autofocus: true, placeholder: 'More info about you', class: 'description' %>
      </div><br>
      <%= f.submit "update description", type:'submit', id:'submitdescription', class: 'ui button submitdescription' %>
    <% end %>
  </center>
      

</div>
</div>