<h1>New Request</h1>

<div class="ui grid">
  <div class="six wide column">
    <%= form_for @request do |f| %>
    <div class="ui form">
      <div class="field">
        <%= f.label :title %>
        <% if params[:guest_id].present? %>
        <%= f.text_field :title, value:"Report user : #{@guest.user_name} _ id: #{@guest.id}", required: true, class: "text" %>
        <% else %>
        <%= f.text_field :title, required: true, class: "text" %>
        <% end %>
      </div>
    </div>

    <div class="ui form">
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body, required: true, class: "area" %>
      </div>
    </div>

   
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <% if params[:guest_id].present? %>
    <%= f.hidden_field :guest_id, :value => @guest.id %>
     <% end %>
    <div class="ui form" style="margin-top: 8px">
      <div class="field">
        <%= f.submit "Send", class:"ui blue button" %>
        <%= link_to "Back", feed_path, class:"ui green button" %>
      </div>
    </div>
    <% end %>
  </div>

</div>