<h1>New Request</h1>

<div class="ui grid">
  <div class="six wide column">
    <%= form_for(@request) do |f| %>
    <div class="ui form">
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, class:"text" %>
      </div>
    </div>

    <div class="ui form">
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body, class:"area" %>
      </div>
    </div>

    <div class="ui form">
      <div class="field">
        <%= f.label :image %>
        <%= f.text_field :image, class:"text" %>
      </div>
    </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <div class="ui form" style="margin-top: 8px">
      <div class="field">
        <%= f.submit "Send", class:"ui blue button" %>
        <%= link_to "Back", feed_path, class:"ui green button" %>
      </div>
    </div>
    <% end %>
  </div>

</div>