<%= stylesheet_link_tag "home" %>
<div class="ui one column center aligned grid">
  <div class="column six wide form-holder">
    <h2 class="center aligned header form-head">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="ui form">
      <div class="field">
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox">
          <label>Remember me</label>
        </div>
      </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Loging in...",  value: "Sign In", class: "ui button large fluid green" %>
      </div>
      <hr>
      <div class="field">
        <%= link_to "Login with Facebook",user_facebook_omniauth_authorize_path, class: 'ui button large fluid blue', data: {disable_with: "Logging in via Facebook..."} %>
      </div>
      <% end %>

      </div>
      <hr>
    <%= render "devise/shared/links" %>
  </div>
</div>


