<div class="comment">
	<a class="avatar">
		<img src="<%= avatar(feedback.guest.filepicker_url) %>">
	</a>		
		<div class="content">

		<a class="author" href="<%= profile_path(id: feedback.guest.id) %>"><%= feedback.guest.user_name %></a>
		<div class="ui heart rating disable" data-rating="<%= feedback.rating %>" data-max-rating="3" ></div>
		<div class="metadata">
			<span class="date"><%= feedback.created_at %></span> 
		</div>
		<div class="text">
		<% if feedback.rating == 1 %>
			<font color="orange"><%= feedback.content %></font>
			<% else %>
			<%= feedback.content %>
			<% end %>
		</div>
	</div>
</div>

<% if current_admin && @feedback != nil%>
	<%= link_to "Accept" ,feedback_accepted_path(feedback_id: @feedback.id),method: :put, class:"ui green button" %>
	<%= link_to "Delete", feedback_path(feedback_id: @feedback.id), method: :delete, data: {confirm: 'Are you sure?'} ,class:"ui youtube button" %> 
<% end %>


