<div class="comment">
	<a class="avatar">
		<img src="<%= avatar(feedback.guest.filepicker_url) %>">
	</a>

	<div class="content">
<<<<<<< HEAD
		<a class="author"><%= feedback.guest.user_name %></a>
		<div class="metadata">
			<div class="ui meta right floated"><%= distance_of_time_in_words(Time.now,(feedback.created_at)) %> ago 
		</div>
		<div class="text">Content: 
=======
		<a class="author" href="<%= profile_path(id: feedback.guest.id) %>"><%= feedback.guest.user_name %></a>
		<div class="metadata">
			<span class="date"><%= feedback.created_at %></span> 
		</div>
		<div class="text">
>>>>>>> 2b72a24b408c844d3845194c3068fbf8138767af
			<%= feedback.content %>
		</div>
	</div>
</div>

<% if current_admin && @feedback != nil%>
	<%= link_to "Accept" ,feedback_accepted_path(feedback_id: @feedback.id),method: :put, class:"ui green button" %>
	<%= link_to "Delete", feedback_path(feedback_id: @feedback.id), method: :delete, data: {confirm: 'Are you sure?'} ,class:"ui youtube button" %> 
<% end %>


